:root {
  --main: #311b92;
  --main-light: #6746c3;
  --main-dark: #000063;
  --secondary: #00897b;
  --secondary-light: #4ebaaa;
  --secondary-dark: #005b4f;
  --text-main: #fff;
  --text-secondary: #000;
  --material-red: #D32F2F;
  --material-orange: #E64A19;
  --material-green: #388E3C;
  --oswald: 'Oswald', sans-serif;
  --lato: 'Lato', sans-serif;
}

body {
  background-color: var(--main-dark);
  margin: 0;
  padding: 0;
}

button {
  padding: 1vh 2vw;
  border-radius: 3% / 25%;
  background-color: transparent;
  border: 1px solid black;
  margin: 0.1vw;
  text-transform: uppercase;
  font-weight: 700;
}

button:focus {
  outline: none;
}

input {
  border: none;
  padding: 1vh;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.fa-search {
  padding: 1vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--oswald);
}

p,
input,
button,
div {
  font-family: var(--lato);
}

.wrapper {
  position: relative;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 3%;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title title' 'menu menu' 'content content' 'foot foot';
  -ms-grid-rows: 0.1fr 0.4fr 1.2fr 0.1fr;
      grid-template-rows: 0.1fr 0.4fr 1.2fr 0.1fr;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: menu;
}

.tasks {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
}

.foot {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: foot;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.searchfield {
  border: 1px solid var(--secondary);
  border-radius: 3% /20%;
  margin: 2vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  justify-self: center;
}

.searchfield:focus-within {
  background-color: var(--main);
  -webkit-box-shadow: 0 0 2px var(--secondary);
          box-shadow: 0 0 2px var(--secondary);
  color: var(--text-main);
}

.searchfield .searchbar {
  max-width: 70%;
  display: block;
}

.searchfield .searchbar:focus {
  color: var(--text-main);
}

.searchfield i {
  cursor: pointer;
}

/*  */
.sorting {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'sorting col2a col3a col4a removeFilter' 'sorting col2b col3b col4b removeFilter';
}

.sortyBy {
  margin: 0 .3vw;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sorting;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: uppercase;
}

.thisWeek {
  background-color: var(--main-light);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: col2a;
}

.nextWeek {
  background-color: var(--main-light);
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: col3a;
}

.laterWeeks {
  background-color: var(--main-light);
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: col4a;
}

.name {
  background-color: var(--main-dark);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: col2b;
  color: var(--text-main);
}

.deadline {
  background-color: var(--main-dark);
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: col3b;
  color: var(--text-main);
}

.priority {
  background-color: var(--main-dark);
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: col4b;
  color: var(--text-main);
}

.clear {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: removeFilter;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.clear:hover {
  color: var(--secondary-dark);
}

.thisWeek,
.nextWeek,
.laterWeeks,
.name,
.deadline,
.priority,
.clear {
  cursor: pointer;
}

.tasks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2vh 1vw;
  height: 50vh;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
}

.tasks::-webkit-scrollbar {
  width: 0;
}

.tasks_headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: var(--secondary-dark);
  margin-bottom: 50px;
}

.tasks_headlines::after {
  position: absolute;
  display: block;
  background-color: var(--text-main);
  height: 50px;
  width: 100%;
  content: '';
  z-index: -1;
}

.tasks_headlines__Taskname {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border-radius: 3%;
}

.tasks_headlines__Deadline, .tasks_headlines__Priority, .tasks_headlines__Edit {
  -ms-flex-preferred-size: 15.15%;
      flex-basis: 15.15%;
  border-radius: 10% / 2%;
}

.tasks_headlines__Edit {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

@media (max-height: 414px) {
  .tasks_headlines {
    max-width: 90vw;
  }
}

.tasks_usertask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.5vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.2vh;
  line-height: 3.5vh;
}

.tasks_usertask__Title {
  display: block;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-radius: 3% / 10%;
}

.tasks_usertask__Title:hover {
  background-color: var(--secondary);
  color: var(--text-main);
  cursor: pointer;
}

@media (max-height: 414px) {
  .tasks_usertask {
    min-height: 7vh;
    line-height: 7vh;
    max-width: 90vw;
  }
}

.tasks_usertask__Deadline {
  display: block;
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  border-radius: 3% / 20%;
  text-align: center;
}

.tasks_usertask__Priority {
  display: block;
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  border-radius: 3% / 20%;
  text-align: center;
  border: none;
  max-height: 100%;
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tasks_usertask__Edit {
  width: 4vh;
  height: 4vh;
  text-align: center;
  border: none;
  border-radius: 50%;
}

.tasks_usertask__Edit:hover {
  background-color: var(--secondary-light);
  color: var(--text-main);
  cursor: pointer;
}

.tasks_usertask__Edit i {
  display: block;
  max-height: 100%;
  max-width: 100%;
  line-height: 4vh;
}

.tasks_usertask__Description {
  display: none;
}

.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: foot;
  background-color: white;
  z-index: 1;
  border-radius: 3% / 30%;
}

.addtask {
  border-radius: 3% /20%;
  border: 1px solid var(--secondary);
  margin-left: auto;
}

.addtask:focus-within {
  background-color: var(--main);
  -webkit-box-shadow: 0 0 2px var(--secondary-dark);
          box-shadow: 0 0 2px var(--secondary-dark);
}

.addtask input:focus {
  color: var(--text-main);
}

.addtask .add {
  background-color: var(--secondary-dark);
  color: var(--text-main);
  cursor: pointer;
}

.removeAll {
  margin-left: auto;
  margin-right: 3%;
  cursor: pointer;
  color: var(--main-dark);
}

.removeAll:hover {
  color: white;
  background-color: var(--secondary-dark);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  padding: 3px;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
      grid-template-areas: 'title title' 'deadline prioritylabel' 'deadline priority' 'description description' 'edit edit';
  -ms-grid-rows: 10% 10% 10% 40% 20%;
      grid-template-rows: 10% 10% 10% 40% 20%;
}

.popup .tasks_usertask__Title {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  font-size: 30px;
  color: var(--main-dark);
  font-family: var(--oswald);
  border-bottom: 3px solid black;
  border-radius: 0;
}

.popup .tasks_usertask__Title:hover {
  background-color: transparent;
}

.popup .tasks_usertask__Title:focus {
  background-color: var(--main-dark);
  color: var(--text-main);
}

.popup .tasks_usertask__Deadline {
  font-size: 20px;
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: deadline;
  color: var(--text-main);
  background-color: var(--main-dark);
  border-radius: 2% / 5%;
}

.popup .tasks_usertask__Deadline::before {
  content: "DEADLINE";
  font-size: 13px;
  display: block;
  position: absolute;
  top: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup .tasks_usertask__Deadline:focus {
  background-color: var(--main-dark);
  color: var(--text-main);
}

.popup .tasks_usertask__Priority {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: priority;
  width: 100%;
  height: 100%;
  background-color: var(--main-dark);
  color: var(--text-main);
}

.popup .tasks_usertask__PriorityLabel {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: prioritylabel;
  color: var(--main-dark);
  text-align: center;
}

.popup .tasks_usertask__Edit {
  height: 5vh;
  width: 5vh;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: edit;
  position: absolute;
  right: 10%;
  bottom: 20%;
  color: var(--main-dark);
}

.popup .tasks_usertask__Edit i {
  line-height: 5vh;
  font-size: 3vh;
}

.popup .tasks_usertask__Edit i:hover {
  background-color: var(--main-dark);
  color: var(--text-main);
  border-radius: 50%;
}

.popup .tasks_usertask__Edit i::after {
  content: 'SAVE';
  display: block;
  font-size: 15px;
  color: var(--main-dark);
}

.popup .tasks_usertask__Description {
  background-color: transparent;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description;
  color: var(--main-dark);
  font-family: var(--lato);
  display: block;
  padding: 5%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  overflow: hidden;
}

.popup .tasks_usertask__Description:focus {
  background-color: var(--main-dark);
  color: var(--text-main);
}

.descriptionPopup {
  position: absolute;
  top: 0;
  right: -100%;
  height: 37%;
  width: 100%;
  border-radius: 3%;
  background-color: var(--main);
  border: 3px solid var(--main-dark);
  padding: 1.5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-main);
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
  -webkit-animation: rollIn 1s ease-in-out forwards;
          animation: rollIn 1s ease-in-out forwards;
}

.descriptionPopup::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 667px) {
  .descriptionPopup {
    height: 45%;
  }
}

@-webkit-keyframes rollIn {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes rollIn {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.descriptionPopup__Title {
  text-align: center;
  margin: 1vh 0;
  text-decoration: underline;
  text-underline-position: under;
}

.descriptionPopup__Text {
  text-align: justify;
}

.descriptionPopup__Close {
  font-size: 2em;
  text-shadow: 0 0 40px var(--main-light);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 95%;
  -webkit-animation: rotation 30s linear infinite both;
          animation: rotation 30s linear infinite both;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.descriptionPopup__Remove {
  position: absolute;
  left: 3%;
  top: 3%;
  color: var(--text-main);
  background-color: var(--secondary-dark);
}

.descriptionPopup__Remove:hover {
  color: var(--secondary-dark);
  background-color: var(--text-main);
  -webkit-box-shadow: 0 0 10px inset var(--main);
          box-shadow: 0 0 10px inset var(--main);
}
/*# sourceMappingURL=style.css.map */