.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    grid-area: foot;
    background-color: white;
    z-index: 1;
    border-radius: 3% / 30%;

}

.addtask {
    border-radius: 3% /20%;
    border: 1px solid var(--secondary);
    margin-left: auto;


    &:focus-within {
        background-color: var(--main);
        box-shadow: 0 0 2px var(--secondary-dark);
    }

    input {

        &:focus {
            color: var(--text-main)
        }
    }

    .add {
        background-color: var(--secondary-dark);
        color: var(--text-main);
        cursor: pointer;
    }
}

.removeAll {
    margin-left: auto;
    margin-right: 3%;
    cursor: pointer;
    color: var(--main-dark);

    &:hover {
        color: white;
        background-color: var(--secondary-dark)
    }
}