.wrapper {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    border-radius: 3%;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    display: grid;
    grid-template-areas: 'title title'
        'menu menu'
        'content content'
        'foot foot';
    grid-template-rows: 0.1fr 0.4fr 1.2fr 0.1fr;
}

.title {
    grid-area: title;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu {
    grid-area: menu;
}

.tasks {
    grid-area: content;
}

.foot {
    grid-area: foot;
}