.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--text-main);
    z-index: 1;
    padding: 3px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        'title title'
        'deadline prioritylabel'
        'deadline priority'
        'description description'
        'edit edit';
    grid-template-rows: 10% 10% 10% 40% 20%;

    .tasks_usertask__Title {
        text-align: center;
        grid-area: title;
        color: var(--main-dark);
        font-family: var(--oswald);
        border-bottom: 3px solid black;
        border-radius: 0;

        @media (min-width: 20em) {
            font-size: calc(1.125rem + ((1vw - 0.2em) * 0.375));
        }

        @media (min-width: 120em) {
            font-size: 1.5em;
        }

        &:hover {
            background-color: transparent;
        }

        &:focus {
            background-color: var(--main-dark);
            color: var(--text-main);
        }
    }

    .tasks_usertask__Deadline {
        font-size: 20px;
        position: relative;
        grid-area: deadline;
        color: var(--main-dark);
        border-radius: 2% / 5%;
        overflow: visible;
        margin: 0 auto;

        &::before {
            content: "DEADLINE";
            color: var(--material-red);
            font-size: 13px;
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:focus {
            background-color: var(--main-dark);
            color: var(--text-main);
        }
    }

    .tasks_usertask__Priority {
        grid-area: priority;
        width: 100%;
        height: 100%;
        background-color: var(--main-dark);
        color: var(--text-main);
    }

    .tasks_usertask__PriorityLabel {
        grid-area: prioritylabel;
        color: var(--material-red);
        text-align: center;
    }

    .tasks_usertask__Edit {
        height: 5vh;
        width: 5vh;
        grid-area: edit;
        position: absolute;
        right: 10%;
        bottom: 20%;
        color: var(--material-red);

        i {
            line-height: 5vh;
            font-size: 3vh;

            &:hover {
                background-color: var(--main-dark);
                color: var(--text-main);
                border-radius: 50%;
            }

            &::after {
                content: 'SAVE';
                display: block;
                font-size: 15px;
                color: var(--main-dark);
            }
        }
    }

    .tasks_usertask__Description {
        background-color: transparent;
        grid-area: description;
        color: var(--main-dark);
        font-family: var(--lato);
        display: block;
        padding: 5%;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        overflow: hidden;

        &:focus {
            background-color: var(--main-dark);
            color: var(--text-main);
        }

        &::placeholder {
            color: var(--material-red);
        }
    }
}

.descriptionPopup {
    position: absolute;
    top: 0;
    right: -100%;
    height: 37%;
    width: 100%;
    border-radius: 3%;
    background-color: var(--main);
    border: 3px solid var(--main-dark);
    padding: 1.5vh;
    box-sizing: border-box;
    color: var(--text-main);
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    @media(max-width:667px) {
        height: 45%;
    }

    animation: rollIn 1s ease-in-out forwards;

    @keyframes rollIn {
        0% {
            right: -100%;
            opacity: 0;
        }

        100% {
            right: 0;
            opacity: 1;
        }
    }

    &__Title {
        text-align: center;
        margin: 1vh 0;
        text-decoration: underline;
        text-underline-position: under;
    }

    &__Text {
        text-align: justify;
    }

    &__Close {
        font-size: 2em;
        text-shadow: 0 0 40px var(--main-light);
        position: sticky;
        top: 0;
        left: 95%;
        animation: rotation 30s linear infinite both;

        @keyframes rotation {
            0% {
                transform: rotate(0)
            }

            100% {
                transform: rotate(360deg)
            }
        }
    }

    &__Remove {
        position: absolute;
        left: 3%;
        top: 3%;
        color: var(--text-main);
        background-color: var(--secondary-dark);

        &:hover {
            background-color: var(--material-red);
            box-shadow: 0 0 10px inset var(--main)
        }
    }
}