.head {
    display: flex;
    flex-direction: column;
}

.searchfield {
    border: 1px solid var(--secondary);
    border-radius: 3% /20%;
    margin: 2vh auto;
    display: flex;
    align-items: center;
    justify-self: center;



    &:focus-within {
        background-color: var(--main);
        box-shadow: 0 0 2px var(--secondary);
        color: var(--text-main);

    }

    .searchbar {
        max-width: 70%;
        display: block;

        &:focus {
            color: var(--text-main);

        }
    }

    i {
        cursor: pointer;
    }
}


/*  */
.sorting {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'sorting col2a col3a col4a removeFilter'
        'sorting col2b col3b col4b removeFilter'
}

.sortyBy {
    margin: 0 .3vw;
    grid-area: sorting;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
}

.thisWeek {
    background-color: var(--main-light);
    grid-area: col2a;
}

.nextWeek {
    background-color: var(--main-light);
    grid-area: col3a;

}

.laterWeeks {
    background-color: var(--main-light);
    grid-area: col4a;

}

.name {
    background-color: var(--main-dark);
    grid-area: col2b;
    color: var(--text-main)
}

.deadline {
    background-color: var(--main-dark);
    grid-area: col3b;
    color: var(--text-main)
}

.priority {
    background-color: var(--main-dark);
    grid-area: col4b;
    color: var(--text-main)
}

.clear {
    grid-area: removeFilter;
    align-self: center;
    justify-self: center;

    &:hover {
        color: var(--secondary-dark)
    }
}

.thisWeek,
.nextWeek,
.laterWeeks,
.name,
.deadline,
.priority,
.clear {
    cursor: pointer;
}