body {
    background-color: var(--main-dark);
    margin: 0;
    padding: 0;
}

button {
    padding: 1vh 2vw;
    border-radius: 3% / 25%;
    background-color: transparent;
    border: 1px solid black;
    margin: 0.1vw;
    text-transform: uppercase;
    font-weight: 700;

    &:focus {
        outline: none;
    }
}

input {
    border: none;
    padding: 1vh;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.fa-search {
    padding: 1vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--oswald);
}

p,
input,
button,
div {
    font-family: var(--lato)
}

h1 {
    @media (min-width: 20em) {
        font-size: calc(1.125rem + ((1vw - 0.2em) * 0.375));
    }

    @media (min-width: 120em) {
        font-size: 1.5em;
    }
}

h2 {
    @media (min-width: 20em) {
        font-size: calc(1rem + ((1vw - 0.2em) * 0.5));
    }

    @media (min-width: 120em) {
        font-size: 1.5em;
    }

}

h3 {
    @media (min-width: 320px) {
        font-size: calc(0.9375rem + ((1vw - 3.2px) * 0.2325));
    }

    @media (min-width: 1920px) {
        font-size: 18.72px;
    }
}