:root {
    --main: #311b92;
    --main-light: #6746c3;
    --main-dark: #000063;
    --secondary: #412FFF;
    --secondary-light: #6F62FF;
    --secondary-dark: #2915FF;
    --text-main: #fff;
    --text-secondary: #000;
    --material-red: #b71c1c;
    --material-blue: #0d47a1;
    --material-green: #004d40;
    --oswald: 'Oswald', sans-serif;
    --lato: 'Lato', sans-serif;
}